{%- comment -%}
This is a required section for the Shopify Theme Store.
It is available when you add "Collection list" section in the Theme Editor.

Theme Store required settings
- Heading: title of the collection list section
- Collection
{%- endcomment -%}
<section class="collection-list">

  {% for block in section.blocks %}
  {%- assign collection = collections[block.settings.collection] -%}
  <div class='jumbotron jumbotron-fluid collection-list-item banner-image d-flex' {{ block.shopify_attributes }} style='background-repeat: no-repeat; background-image: url({{collection.image | img_url: "medium" }}); background-size: cover '>
    <div class='container text-alignment'>
       <h2 class='display-4'>{{block.settings.single_text}}</h2>
     
     <a class="btn btn-primary btn-lg" href="{{block.settings.link_url}}" role="button">{{block.settings.link_text}}</a>
     
    </div>


</div>
{% endfor %}
  <!--.Jumbotron-->
  {% if section.blocks.size == 0 %}
  {% include 'no-blocks' %}
  {% endif %}
</section>

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          },
          {
            "type": "text",
            "id": "single_text",
            "label":  "Insert a piece of text" 
          },
          {
            "type": "text",
            "id": "link_text",
            "label":  "Insert text for link" 
          },
          {
            "type": "url",
            "id": "link_url",
            "label":  "Insert link" 
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
